<%= form_for @order, :html => {:multipart => true} do |f| %>
  <div class="order-page">
    <div class='container'>
      <div class="row">
        <div class="col-md-3">
          <h3><span><%= f.label :product %></span></h3>
          <%= f.text_field :product %>
        </div>
        <div class='col-md-2'>
          <h3><span><%= f.label :quantity %></span></h3>
          <%= f.text_field :quantity %>
        </div>
        <div class='col-md-2'>
          <h3><span><%= f.label :unit %></span></h3>
          <%= f.text_field :unit %>
        </div>
        <div class='col-md-2'>
          <h3><span><%= f.label :vendor %></span></h3>
          <%= f.text_field :vendor %>
        </div>
        <div class='col-md-2'>
          <h3><span><%= f.label :email %></span></h3>
          <%= f.text_field :email %>
        </div>
      </div>
    </div>
    <br/>
    <center><%= f.submit @order.new_record? ? "Submit" : "Update", class: 'btn btn-success btn-lg' %></center>
  </div>
<% end %>

<div class="order-instruction">
  <h4>Clicking "add" button will add automatically do the calculation of how many units and the price</h4>
  <h4>It renders the cart, and by clicking the "submit" button, and email will be delivered</h4>
</div>