<div class="post">
<%= form_for @order, :html => {:multipart => true} do |f| %>
  <div class="order-page">
    <div class='container'>
      <div class="row">
        <div class="col-md-2">
          <h3><span><%= f.label :product %></span></h3>
          <%= f.text_field :product %>
        </div>
        <div class='col-md-2'>
          <h3><span><%= f.label :quantity %></span></h3>
          <%= f.text_field :quantity %>
        </div>
        <div class='col-md-2'>
          <h3><span><%= f.label :unit %></span></h3>
          <%= f.text_field :unit %>
        </div>
        <div class='col-md-2'>
          <h3><span><%= f.label :vendor %></span></h3>
          <%= f.text_field :vendor %>
        </div>
        <div class='col-md-2'>
          <h3><span><%= f.label :email %></span></h3>
          <%= f.text_field :email %>
        </div>
      </div>
    <div class="row">
      <div class='col-md-2'>
        <h3><span><%= f.label :description %></span></h3>
        <%= f.text_area :description, row: 20 %>
      </div>
    </div>
    </div>
    <br/>
    <center><%= f.submit @order.new_record? ? "Submit" : "Update", class: 'btn btn-success btn-lg' %></center>
  </div>
<% end %>
<hr>
<h4><%= link_to "Orders History", orders_path %></h4>
</div>
