<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="cart">
  <h3>Order cart</h3>
  <ul>
    <% @cart.line_items.each do |item| %>
      <li><%= item.quantity %> &times; <%= item.product.title %></li>
    <% end %>
  </ul>

  <%= link_to 'Edit', edit_cart_path(@cart) %> |
  <%= link_to 'Back', carts_path %>
</div>
